*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    line-height: 1.6;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
header{
    background-color: #5b3f74;
    text-align: center;

}
.menu{
    padding: 0 0 7rem;
}

.menu ul{ 
  font-size: large;
  padding: 20px;
  display: flex;
  list-style-type: none;
  background-color: rgba(192, 114, 199, 0.2);
  justify-content: center;
}

.menu-link{
    text-decoration: none;
    padding: 1.6rem;
    color: blanchedalmond;

    

}
a:hover{
    text-decoration: underline;
    color: antiquewhite;
}


.foto{
width: 280PX;
height: 280PX;
border-radius: 50%;
object-fit: cover;
    
}

.nome{
    text-align: center;
    color: antiquewhite;
    font-size: 30px;
    padding: 1rem 0 0;
}

.sou{
    text-align: center;
    color: antiquewhite;
}

.caixa{
  border:2px solid rgb(40, 1, 53);
  border-radius: 1.5rem;
  padding: 1.5rem;
  max-width: 850px;
  margin: 15px auto;
}
  

.titulo{
    color: antiquewhite;
    padding: 6rem 0 1rem;
    font-size: 35px;
}

p{
    color: antiquewhite;
    text-align: center;
    padding: 0  0 2rem;
}
.rodacx{
     background-color:rgba(192, 114, 199, 0.2);
     display: block;
     padding: 0.2rem;
     margin-top: 10px;


}

.roda{
    color: rgb(242, 238, 246);
    text-align: center;
    padding: 0%;
    
}
/* Termina aqui a estilizaçao da pagina 1 */

/*COMEÇA AQUI A ESTILIZAÇAO DA PÁGINA DE PROJETOS*/
.pagina-projeto{
    height: 100%;
    background-color:#5b3f74;
    text-align: center;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    line-height: 1.6;
    color: #fff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 }

 .menu-projeto{
    padding: 0 0 2rem;
}

.menu-projeto ul{ 
  font-size: large;
  padding: 20px;
  display: flex;
  list-style-type: none;
  background-color: rgba(192, 114, 199, 0.2);
  justify-content: center;
}

.menu-link-projeto{
    text-decoration: none;
    padding: 1.6rem;
    color: blanchedalmond;
}

.h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 1rem;
    color:  rgb(251, 251, 70);
       
    }

    .sub-projeto{
        font-family: 'Courier New', Courier, monospace;
        padding: 23px;
    }
    span{
       color: rgb(251, 251, 70);
 }
 #imagem-projeto{
    width: 350px;
    max-width: 100%;
    display: block;
    margin: 60px auto;
 }
 .cxroda-projeto{
     background-color:rgba(192, 114, 199, 0.2);
     padding: 0.2rem;
     margin: top 0;;
 }
 .roda-projeto{
   color: rgb(242, 238, 246);
    text-align: center;
    padding: 0;
 }

 /*Configuraçoes para página de contatos*/

.pagina-contatos{
    height:100%;
    min-height: 100vh;
    text-align: center;
    height: 100%;
    background-color:#5b3f74;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    line-height: 1.6;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.menu-pagcontato{
    padding: 0 0 7rem;
}

.menu-pagcontato ul{ 
  font-size: large;
  padding: 20px;
  display: flex;
  list-style-type: none;
  background-color: rgba(192, 114, 199, 0.2);
  justify-content: center;
}
.menu-link-contato{
    text-decoration: none;
    padding: 1.6rem;
    color: blanchedalmond;
}
.foto-contato{
   width: 200PX;
   height: 200PX;
   border-radius: 50%;
   object-fit: cover;
   margin-top:0 0 2rem ;
}


.cabecalho-pagcontato{
    min-width: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.nome-pgcontato{
    color: #fff;
}
 
.sou-pgcontato{
  text-align: center;
    
}

.roda-contatos{
   color: rgb(242, 238, 246);
    text-align: center;
    padding: 0;
}
 .rodacx-contatos{
     background-color:rgba(192, 114, 199, 0.2);
     padding: 0.2rem;
     margin: top 0;;
 }

 .ncontato{
    color: #fff;
    margin: auto 6.7rem;
 }

.cxcontato{
 max-width: 600px; 
 margin: 0 auto;
 padding: 20px;
 padding-top: 0px;
}

.tabela{
    text-align: left;
    padding: 0 5px 5px 8px;
    margin-bottom: 20px;
    display: block;
}

.ntabelas{
    color: #fff;
    text-align: left;
    padding: 8px;
    margin-bottom: 10px;
    padding-bottom: 5px;

}

.botao{
    color: rgb(34, 3, 74);
    font-size: large;
    padding: 5px;
    cursor: pointer;
}
.botao:hover{
    background-color: rgb(62, 2, 68, 0.7);
    color: antiquewhite;
    border-bottom:solid  2px#fff ;
}
.btn-social{
    padding: 1.5rem ;
    position: relative;

}
.btn-social button{
    width: 50px;
    height: 50px;
    font-size: 22px;
    border: none;
    cursor: pointer;
    padding-top: 10px;
    margin: 0 3px;
}
.btn-social button:hover{
    color:  #0d12ab;
    transform: scale(1.05);

}

.redes{
    color: #fff;
    font-size: 20px;
    text-align: center;
    position:static;
    margin:auto;
}

